control-panel
    text-align center
    background-color #333
    .control-cnt
        margin-top 5px
        button
            width 40px
            border-radius 4px
            padding 0
            font-size 25px
            -webkit-transition all .2s linear
            -moz-transition all .2s linear
            transition all .2s linear
            &:hover
                i
                    text-shadow 0 0 6px #428bca
                    -webkit-transition all .2s linear
                    -moz-transition all .2s linear
                    transition all .2s linear
