// Main stylus file. 
@import '../../vendor/bower/bootstrap/dist/css/bootstrap.min.css'
@import '../../vendor/bower/font-awesome/css/font-awesome.min.css'
@import '../../vendor/bower/leaflet-dist/leaflet.css'
// http://visionmedia.github.io/nib/
@import 'nib'
@import 'mixins'
@import 'vars'
@import 'masthead'
@import 'control'
@import 'search'
@import 'add'


map
    position absolute
    top 0
    bottom 0
    right 0
    left 60px
    z-index 900
    box-shadow -3px 0 15px 3px rgba(255,255,255,0.5)

control-panel
    position absolute
    top 0
    bottom 0
    left 0
    width 60px

search
    position absolute
    top 0
    max-height 100%
    overflow auto
    left 75px
    width 400px
    z-index 901
    -webkit-transition width 1s linear, opacity 1s linear
    -moz-transition width 1s linear, opacity 1s linear
    transition width 1s linear, opacity 1s linear
    &.minimized
        width 0
        opacity 0
        -webkit-transition width 1s linear, opacity 1s linear
        -moz-transition width 1s linear, opacity 1s linear
        transition width 1s linear, opacity 1s linear

@font-face
    font-family 'FontAwesome'
    src url('../assets/fontawesome-webfont.eot?v=4.0.3')
    src url('../assets/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../assets/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../assets/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../assets/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight normal
    font-style normal

@font-face
    font-family 'Glyphicons Halflings'
    src url('../assets/glyphicons-halflings-regular.eot')
    src url('../assets/glyphicons-halflings-regular.eot') format('embedded-opentype'), url('../assets/glyphicons-halflings-regular.woff') format('woff'), url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/glyphics-halflings-regular.svg') format('svg');
    font-weight normal
    font-style normal
